<%- include('../partials/html-head') %>
<%- include('../partials/nav') %>

<main class="page">
    <div class="sub-title" id="single-profile">
        <div id="profile-left">
            <% if (profile.avatar) { %>
                <img class="profile-image large" 
                    src="<%= profile.avatar %>" 
                    alt="<%= profile.name %>'s avatar">
            <% } else {%>
                <img class="profile-image large"
                    src="/images/icons/user.png" 
                    alt="A placeholder avatar">
            <% } %>
            <h1><%= profile.name %></h1>
            <div id="profile-bottom">
                <div><p><h2><%= totalLikes %> &hearts;</h2></p></div>
                <div>
                    <p><h3><%= profile.followedBy.length %> Followers</h3></p>
                </div>
                <div>
                    <% if (user){ %>
                        <% if (!user?.profile._id.equals(profile._id) && !profile.followedBy.includes(user?.profile._id)) { %>
                            <a href="/profiles/<%= profile._id %>/follow"><h3>Follow</h3></a>
                        <% } %>
                        <% if (!user?.profile._id.equals(profile._id) && profile.followedBy.includes(user?.profile._id)) { %>
                            <a href="/profiles/<%= profile._id %>/unfollow"><h3>Unfollow</h3></a>
                        <% } %>
                    <% } %>
                </div>
            </div>
        </div>
        <div id="profile-middle">
            <h1>Jokes</h1>
            <table class="table table-striped mb-0">
                <tbody>
                <% jokes.forEach(joke => { %>
                    <tr>
                        <td><p><a href="/jokes/<%= joke._id %>" target="_blank"><%= joke.setup %></a></p></td>
                    </tr>
                <% }) %>
                </tbody>
            </table>
        </div>
        <div id="profile-right">
            <h1>Trivia</h1>
            <table class="table table-bordered table-striped mb-0">
                <tbody>
                <% trivia.forEach(t => { %>
                    <tr>
                        <td><p><a href="/trivia/<%= t._id %>" target="_blank"><%= t.question %></a></p></td>
                    </tr>
                <% }) %>
                </tbody>
            </table>
        </div>
    </div>
</main>

<%- include('../partials/footer') %>