<%- include('../partials/html-head') %>
<%- include('../partials/nav') %>

<main class="page">
    <div class="sub-title" id="single-profile">
        <div id="profile-left">
            <% if (profile.avatar) { %>
                <img class="profile-image large" 
                    src="<%= profile.avatar %>" 
                    alt="<%= profile.name %>'s avatar">
            <% } else {%>
                <img class="profile-image large"
                    src="/images/icons/user.png" 
                    alt="A placeholder avatar">
            <% } %>
            <h1><%= profile.name %></h1>
            <div id="profile-bottom">
                <div><p>0 Likes</p></div>
                
                <% if (user && user?.profile._id.equals(profile._id)) { %>
                    <div><button class="action-button" id="follow-button">Follow</button></div>
                <% } %>
            </div>
        </div>
        <div id="profile-middle">
            <h1>Jokes</h1>
            <table class="table table-bordered table-striped mb-0">
                <tbody>
                <% jokes.forEach(joke => { %>
                    <% if (joke.creator.equals(profile._id)){ %>
                        <tr>
                            <td><p><a href="/jokes/<%= joke._id %>" target="_blank"><%= joke.setup %></a></p></td>
                        </tr>
                    <% } %>
                <% }) %>
                </tbody>
            </table>
        </div>
        <div id="profile-right">
            <h1>Trivia</h1>
            <table class="table table-bordered table-striped mb-0">
                <tbody>
                <% trivia.forEach(t => { %>
                    <% if (t.creator.equals(profile._id)){ %>
                        <tr>
                            <td><p><a href="/trivia/<%= t._id %>" target="_blank"><%= t.question %></a></p></td>
                        </tr>
                    <% } %>
                <% }) %>
                </tbody>
            </table>
        </div>
    </div>
</main>

<%- include('../partials/footer') %>