<%- include('./partials/html-head') %>
<%- include('./partials/nav') %>

<main>
  <%- include('./partials/subnav') %>
  <h1>hello, <%= user ? user.profile.name : "friend" %></h1>
</main>

<%- include('./partials/footer') %>