<%- include('./partials/html-head') %>
<%- include('./partials/nav') %>

<script>
  function showPunchline(){
    document.getElementById('show-punchline').style.display = 'none'
    punchline.hidden = false
  }
</script>

<main>
  <div class="all-pages">
    <div class="page-section first-page">
      <div class="page-buffer"></div>
      <h1 style="font-size:8rem;">Welcome to <span class="rainbow-text">Double the Fun</span></h1>
      <h2>Share your favorite jokes and trivia!</h2>
      <div class="main-page-joke" onload="getJokes()">
        <h2 class="sub-title"><%= setup %></h2>
        <div class="bottom-section">
          <button class="action-button" id="show-punchline" onclick="showPunchline()">Show Punchline</button>
          <p id="punchline" hidden><%= punchline %></p>
        </div>
      </div>
    </div>
    <div class="page-section second-page">
      <div>
        <h1>Mission Statement</h1>
        <div id="mission-statement-box">
        <p>This world is full of things to be happy about, but some people take themselves too seriously.
          <b>Double the Fun</b> is a place where one can share ideas, have fun, and relieve stress, by posting jokes and trivia for others.</p>
          <a href="https://github.com/jaehyun1009/jokes-project" style="font-size:2.5rem;" target="_blank">Find out more about this project here.</a>
        </div>
      </div>
      <div>
        <img class="large"
        src="/images/icons/laugh.png" 
        alt="Laughing image">
      </div>
    </div>
  </div>
</main>

<%- include('./partials/footer') %>