<%- include('../partials/html-head') %>
<%- include('../partials/nav') %>
<%- include('../partials/subnav') %>

<main>
  <h1>Jokes</h1>
  <% if (user && jokes.length > 0){ %> 
    <a class="action-link" href='/jokes/new'>New Joke</a>
  <% } %> 
  <% if (jokes.length > 0) { %>
  <div class="container">
    <div class="col-13">
      <table class="table table-striped table-margin">
        <thead>
          <tr>
            <th scope="col" class="col-3"><p>Creator Name</p></th>
            <th scope="col" class="col-8"></th>
            <th scope="col" class="col-2"><p>Likes</p></th>
            <th scope="col"></th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody>
        <% jokes.forEach(joke => { %>
          <tr>
            <td><p><%= joke.creator.name %> </p></td>
            <td><p><%= joke.setup %></p></td>
            <td><p><%= joke.likes %></p></td>
            <td><button class="action-button small-button" onclick="location.href='/jokes/<%= joke._id %>'">Details</button></td>
            <% if (user?.profile._id.equals(joke.creator._id)){ %>
            <form action="/jokes/<%= joke._id %>?_method=DELETE" method="POST">
              <td><button class="action-button small-button" type="submit">Delete</button></td>
            </form>
            <% } else { %> 
            <td></td>
            <% } %>
          </tr>
        <% }) %>
        </tbody>
      </table>
    </div>
  </div>
  <% } else { %>
    <p>No Jokes have been posted yet. <% if (user) { %> <a href='/jokes/new'>Click here to create a joke!</a><% } %></p>
  <% } %>
</main>

<%- include('../partials/footer') %>