<%- include('../partials/html-head') %>
<%- include('../partials/nav') %>
<%- include('../partials/subnav') %>

<main>
  <a class="action-link" href="/jokes">Back</a>
  Setup <%= joke.setup %>
  Punchline <%= joke.punchline %>
</main>

<%- include('../partials/footer') %>