<%- include('../partials/html-head') %>
<%- include('../partials/nav') %>
<%- include('../partials/subnav') %>

<main>
  Setup <%= joke.setup %>
  Punchline <%= joke.punchline %>
</main>

<%- include('../partials/footer') %>