<%- include('../partials/html-head') %>
<%- include('../partials/nav') %>

<main class="page">
  <h1 class="sub-title">Edit Comment</h1>
  <a class="action-link" href="/trivia/<%= trivia._id %>">Back</a>
  <form action="/trivia/<%= trivia._id %>/comments/<%= comment._id %>?_method=PUT" method="POST">    
    <p><textarea name="content" rows="5" cols="50"><%= comment.content %></textarea></p>
    <button class="action-button small-button" type="submit">Edit</button>
  </form>
</main>

<%- include('../partials/footer') %>