<%- include('../partials/html-head') %>
<%- include('../partials/nav') %>

<main>
  <h1 class="sub-title">Trivia</h1>
  <% if (user && trivia.length > 0){ %> 
    <a class="action-link" href='/trivia/new'>New Trivia</a>
  <% } %> 
  <% if (trivia.length > 0) { %>
  <div class="container">
    <div class="col-13">
      <table class="table table-striped table-margin">
        <thead>
          <tr>
            <th scope="col" class="col-3"><p>Creator Name</p></th>
            <th scope="col" class="col-8"><p>Question</p></th>
            <th scope="col" class="col-2"><p>Likes</p></th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody>
        <% trivia.forEach(t => { %>
          <tr>
            <td><p><a href="/profiles/<%= t.creator._id %>"><%= t.creator.name %></a></p></td>
            <td><p><a href="/trivia/<%= t._id %>"><%= t.question %></a></p></td>
            <td><p><%= t.likes %></p></td>
            <% if (user?.profile._id.equals(t.creator._id)){ %>
            <form action="/trivia/<%= t._id %>?_method=DELETE" method="POST">
              <td><button class="action-button small-button" type="submit">Delete</button></td>
            </form>
            <% } else { %> 
            <td></td>
            <% } %>
          </tr>
        <% }) %>
        </tbody>
      </table>
    </div>
  </div>
  <% } else { %>
    <p>No trivia has been posted yet. <% if (user) { %> <a href='/trivia/new'>Click here to create a trivia!</a><% } %></p>
  <% } %>
</main>

<%- include('../partials/footer') %>